## Assignment 2 Data Types and Structures

In [1]:
# question 1  Write a code to create a string with your name and print it

name= "Harsh Gurnani"

print(f'Hello my name is {name}')

Hello my name is Harsh Gurnani

In [3]:
# question 2 : Write a code to find the length of the string "Hello World"
word="Hello World"

print(f'The size of string {word} is {len(word)}')

The size of string Hello World is 11

In [1]:
# question 3 write a code to slite the first 3 characters from the string "Python Programming "

string="Python Programming"

print(string[3:])

hon Programming

In [4]:
#question 4 write a code to convert the string hello to upper case

word="hello"

print(f"converting {word} to upper case {word.upper()}")

converting hello to upper case HELLO

In [6]:
#question 5 : write a code to replace the word apple with orange in string I like apple

string="I like apple"

string=string.replace('apple','orange')

print(string)

I like orange

In [8]:
#question 6: write a code to create a list with number 1 to 5 and print it

lst=[x+1 for x in range (5)]
print(lst)

[1, 2, 3, 4, 5]

In [1]:
#question 7 write a code to append the number 10 to thes list [1,2,3,4]

lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [2]:
#question 8 write a code to remove the number 3 from the list [1,2,3,4,5]

lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [3]:
# question 9 wrte a code to acess the second element in the list['a','b','c','d']

lst=['a','b','c','d']
print(lst[1])

b

In [4]:
# question 10 write a code to reverse the list [10,20,30,40]

lst=[10,20,30,40]
lst=lst[::-1]
print(lst)

[40, 30, 20, 10]

In [5]:
#question 11: write a code to create a tuple with elements 100,200,300 and print it

tup=(100,200,300)
print(tup)

(100, 200, 300)

In [7]:
# question 12 : write a code to acess the second to last element of the tuple ('red','green','blue','yellow')

tup=('red','green','blue','yellow')
print(tup[-2])

blue

In [9]:
# question 13 write a code to find the minimum number in tuple (10,20,5,15)
tup=(10,20,5,15)
print(min(tup))

5

In [12]:
# question 14 write a code to find the index of the element 'cat' in the tuple('dog','cat','rabbit')

tup=('dog','cat','rabbit')

print(tup.index('cat'))

1

In [14]:
# question 15 write a code to create a tuple containing three different fruits and check if kiwi is in it

tup=('apple','orange','banana','kiwi')
print(tup.__contains__('kiwi'))

True

In [15]:
# question 16 write a code to create a set with the elements 'a' 'b' 'c' and print it

s={'a','b','c'}
print(s)

{'a', 'c', 'b'}

In [16]:
# question 17 write a code to clear all the elements from the set {1,2,3,4,5}

s={1,2,3,4,5}
s.clear()
print(s)

set()

In [17]:
# question 18 write a code to remove the element 4 from the set {1,2,3,4}


s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [19]:
# question 19 write a code to find hte union of two sets {1,2,3} and {3,4,5}

s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [20]:
# question 20 write a code to find the intersection of the two sets {1,2,3} and {2,3,4}
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [21]:
# question 21 : write a code to create a dictionary with keys "name " "age" and "city " and print it

dict1={"name":"harsh","age":23,"city":"Ahmedabad"}
print(dict1)

{'name': 'harsh', 'age': 23, 'city': 'Ahmedabad'}

In [24]:
# question 22 : write a code to add a new key-value pair "country":"usa" to the dictionary {'name':'John','age':25}


dict1={'name':"John",'age':25}

dict1['country'] = 'Usa'

print(dict1)

{'name': 'John', 'age': 25, 'country': 'Usa'}

In [26]:
# question 23 : write the code to acess the value associated with the key name in the dictionary {'name':'Alice','age':30}

dict1={'name':'Alice','age':30}
print(dict1.get('name'))

Alice

In [31]:
# question 24 : write the code to remove the key age from the dictionary {'name':'Bob','age':22,'city':'New-york'}

dict1={'name':'Bob','age':22,'city':'New York'}
#dict1.__delitem__('age') we can do this by this way too
del dict1['age']
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [36]:
# question 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict1={'name': 'Alice', 'city': 'Paris'}
print(dict1.__contains__('city'))

True

In [37]:
# question 26 Write a code to create a list, a tuple, and a dictionary, and print them all.

lst=[1,2,3]
tup=(3,4,5)
dict1={'name':'harsh','age':23,'city':'Ahmedabad'}

print(lst)
print(tup)
print(dict1)

[1, 2, 3]
(3, 4, 5)
{'name': 'harsh', 'age': 23, 'city': 'Ahmedabad'}

In [43]:
# question 27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random

lst=[x for x in random.sample(range(100),5)]
print(lst)
lst.sort()
print(lst)

[96, 14, 1, 0, 94]
[0, 1, 14, 94, 96]

In [44]:
# question 28 write a code to create a list with strings and print the element at the third index


fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[3])

mango

In [52]:
#question 29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'harsh', 'age': 23, 'city': 'Ahmedabad'}
dict2 = {'country':"India",'Gender':'Male'}
dict1.update(dict2)
print(dict1)

{'name': 'harsh', 'age': 23, 'city': 'Ahmedabad', 'country': 'India', 'Gender': 'Male'}

In [55]:
# question 30 write a code to convert a list of strings into a set

lst=['apple', 'banana', 'cherry', 'mango', 'orange']
lst=set(lst)

print(lst)

{'apple', 'orange', 'cherry', 'mango', 'banana'}